<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        body {
          padding-top: 50px;
        }
        .starter-template {
          padding: 40px 15px;
          /*text-align: center;*/
        }
        .search_params {
             padding: 10px 15px;
        }
    </style>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
       
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>

        <script>
            var app = angular.module('theApp', []);
            app.controller('closing_cost_controller', function($scope, $window, $location) {
                $scope.site = "https://docs.google.com/a/buildingenergy.com/spreadsheet/ccc?key=0AqJODdtaNNwedHJPWmFEaG9hdTRWTUNVb1M4Q3FOWmc&usp=drive_web#gid=0";
                $scope.asking_price = 375000;
                $scope.loan_to_ratio = 80;
                $scope.taxes = 3500;
                $scope.interest_rate = 4.125;
                $scope.homeowner_insurance = 600;
                $scope.term_of_loan_years = 30;
                $scope.loan_payment = 0;
                var monthly_payment = function () {
                    // M = P * ( J / (1 - (1 + J)^ -N))
                    // M: monthly payment
                    // P: principal or amount of loan
                    // J: monthly interest; annual interest divided by 100, then divided by 12
                    // N: number of months of amortization, determined by length in years of loan.
                    var M, P, J, N;
                    P = $scope.loan_payment;
                    J = $scope.interest_rate / 100.0 / 12.0;
                    N = $scope.term_of_loan_years * 12;
                    M = P * ( J / (1 - Math.pow(1/(1 + J), N)));
                    return M;
                };
                $scope.compute_mortgage = function (){
                    $scope.down_payment = (1 - $scope.loan_to_ratio / 100) * $scope.asking_price;
                    $scope.loan_payment = $scope.loan_to_ratio / 100 * $scope.asking_price;
                    $scope.principal_payment = monthly_payment();
                    $scope.total_payment = $scope.principal_payment + $scope.taxes / 12 + $scope.homeowner_insurance / 12;

                };
                function init(){   
                    $scope.compute_mortgage();
                }
                init();
            });
               
            
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Closing Cost</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://trello.com/b/uPdaOzac/our-new-house">Trello Board</a></li>
            <li><a href="https://docs.google.com/a/buildingenergy.com/spreadsheet/ccc?key=0AqJODdtaNNwedHJPWmFEaG9hdTRWTUNVb1M4Q3FOWmc&usp=drive_web#gid=0">Google Doc from Aaron</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
        <div class="container" ng-app="theApp" ng-controller="closing_cost_controller">
            <div class="starter-template">
                <div class="content" ng-app>
                    <h2>Closing Cost</h2>
                    <div class="info">
                    </div>
                    <div class="search_params">
                        <div>
                            asking price <input class="" type="tel" placeholder="asking price" ng-model="asking_price" ng-change="compute_mortgage()">
                        </div>
                        <div>
                            taxes <input class="" type="tel" placeholder="taxes" ng-model="taxes" ng-change="compute_mortgage()">
                        </div>
                    </div>
                    <div>
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr >
                                <td>asking price</td>
                                <td>${{asking_price | number:0}}</td>
                            </tr>
                            <tr >
                                <td>taxes</td>
                                <td>${{taxes | number:0}}</td>
                            </tr>
                            <tr >
                                <td>Loan to Value Ratio</td>
                                <td>{{ loan_to_ratio }}%</td>
                            </tr>
                            <tr >
                                <td>Down Payment</td>
                                <td>${{ down_payment | number:0 }}</td>
                            </tr>
                            <tr >
                                <td>Loan Amount</td>
                                <td>${{ loan_payment | number:0 }}</td>
                            </tr>
                            <tr >
                                <td>Interest Rate</td>
                                <td>{{ interest_rate | number:3 }}%</td>
                            </tr>
                            <tr >
                                <td>Yearly Homeowners Insurance</td>
                                <td>${{ homeowner_insurance | number:0 }}</td>
                            </tr>
                            <tr >
                                <td>Principal Interest Payment</td>
                                <td>${{ principal_payment | number:0 }}</td>
                            </tr>
                            <tr >
                                <td>Total Payment (Incl Tax/Ins)</td>
                                <td><strong>${{ total_payment | number:0 }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    </div> <!-- ng-controller -->
                </div> <!-- content -->
            </div>
        </div>
    </body>
</html>
